<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
	<script>
		function shareURL(){
			console.log("======IN shared URL func=========");
			var success_element = document.getElementById("success");
			var sharedURL = "/:" + "<%= userId %>";
			success_element.style.display = "block";
			success_element.innerHTML = "<span>Shop by sharing the cart!!! </span><a href=" +  sharedURL + "<span><b>" + sharedURL +" </b></span></a>";
		}
	</script>
<%if (cartItems.length > 0) { %>
	<div class="row">
		<% for(var i=0; i < cartItems.length; i++) { 
		if(cartItems[i].quantity > 0) {
		//var checkout = "/checkout/"+cartItems[i].userId;
		console.log(cartItems[i].userId);
		var booktitle = cartItems[i].title.toString();
		console.log(booktitle);
		var checkout = "/checkout";
        %>
		<div class="col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-2">
			<form action="/updateQty" method="post" style="display: inline-block; width:100%" > 
			<ul class="list-group">

					<li class="list-group-item">
						<img src=<%= cartItems[i].imageUrl %> alt="..." class="img-responsive bookImage"></img>
						<input type="hidden" class="form-control" name="image_URL_Hidden" value=<%= cartItems[i].imageUrl %>></input>
						<h3 class= "bookTitle" title="<%= cartItems[i].title %>"> <%= cartItems[i].title %></h3>
						<input type="hidden" class="form-control" name="book_Title_Hidden" value="<%= booktitle %>"/>
						<h4 class= "bookAuthor" title="<%= cartItems[i].title %>"> <%= cartItems[i].author %></h4>
						<input type="hidden" class="form-control" name="book_Author_Hidden" value="<%= cartItems[i].author %>"/>
						<input type="hidden" class="form-control" name="cart_Id" value=<%= cartItems[i]._id.$oid %>>
						<input type="hidden" class="form-control" name="book_Id" value=<%= cartItems[i].productId %>>
						<div class="label label-success" title="$<%= cartItems[i].price %>">
							<Strong>Price: </Strong>$<%= cartItems[i].price %>
						</div>
                      				<input type="hidden" class="form-control" name="book_Price_Hidden" value=<%= cartItems[i].price %>>
						<span class="badge"><%= cartItems[i].quantity %></span>
						<div>
					            <div class="input-group"> 
		                			<input type="text" class="form-control" name="quantity" placeholder="update qty" />
		                			<!--<input type="hidden" name="productData" value=<%= cartItems[i] %>/>-->
		                			<span class="input-group-btn">
				        			<button class="btn btn-default" type="submit" style="display: inline-block">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
		                			</span>
			                    	    </div>
                        			</div>	
					</li>
			</ul>
        		</form>
		</div>
    <% }} %>
	</div>
<%if (cartStatistics[0].totalAmount == 0) { %>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
			<strong><h2>No Items in Cart</h2></strong>
		</div>
	</div>
<% } %>
<%if (cartStatistics[0].totalAmount > 0) { %>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
			<strong>Total: <%= cartStatistics[0].totalAmount %> $</strong>
		</div>
	</div>
	<hr>
	<div class="container" style="width: 5%;display: inline-block;position: relative;vertical-align: top;margin-left: 35%;">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<a href= <%= checkout %> type="button" class="btn btn-success">Checkout</a>
			</div>
		</div>
	</div>
<% } %>
	<div class="container" style="width: 20% !important; display: inline-block;">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<input type="button" id="sharedURL" class="btn btn-success" value="Share Cart" onclick="shareURL()">
			</div>
		</div>
		<div id="success" class="alert alert-success" style="display:none;">
	    </div>
	</div>
<% } else { %>  
	<div class="container" style="width: 20% !important; display: inline-block;">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<input type="button" id="sharedURL" class="btn btn-success" value="Share Cart" onclick="shareURL()">
			</div>
		</div>
		<div id="success" class="alert alert-success" style="display:none;">
	    </div>
<% } %> 
</body>
</html>
