<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
<%if (cartItems.length > 0) { %>
	<div class="row">
		<% for(var i=0; i < cartItems.length; i++) { 
		<!--var checkout = "/checkout/"+cartItems[i].userId;-->
		var checkout = "/checkout";
        %>
		<div class="col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-2">
			<ul class="list-group">

					<li class="list-group-item">
						<img src=<%= cartItems[i].imageUrl %> alt="..." class="img-responsive bookImage" >
						
						<h3 class= "bookTitle" title="<%= cartItems[i].title %>"> <%= cartItems[i].title %></h3>
						<div class="label label-success" title="$<%= cartItems[i].price %>"><Strong>Price: </Strong>$<%= cartItems[i].price %></div>
                      
						<span class="badge"><%= cartItems[i].quantity %></span>
						<div>
						<form action="/updateQty" method="post" style="display: inline-block" >
                        <div class="input-group">     
                        <input type="text" class="form-control" name="quantity" placeholder="update qty">
                        <input type="hidden" name="productData" value=<%= cartItems[i] %>>
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="display: inline-block"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                        </div>
                        </form>
                        </div>
					</li>
			</ul>
		</div>
    <% } %>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
			<strong>Total: <%= cartStatistics[0].totalAmount %> $</strong>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<a href= <%= checkout %> type="button" class="btn btn-success">Checkout</a>
				<a href= <%= checkout %> type="button" class="btn btn-success">Share Cart</a>
			</div>
		</div>
	</div>
<% } else { %>  
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<h2>No Items in Cart</h2>
				<a href= <%= checkout %> type="button" class="btn btn-success">Share Cart</a>
			</div>
		</div>
	</div>
<% } %> 
</body>
</html>