<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class = "container">
    <div class = "container">
      <div class="dropdown" style="margin-left: 25px">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Sort on Price <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/hightolow">High-Low</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/lowtohigh">Low-High</a></li>
        </ul>
      </div>
      
      <form action="/find" method="post" style="float: left; width: 100%; padding: 20px" >
      <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">     
                <div class="input-group-btn search-panel" >
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="display: inline-block">
                        <span id="search_concept">Select</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#author">Author</a></li>
                      <li><a href="#title">Title</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" name="search" placeholder="Search products by Title or Author...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" style="display: inline-block"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
        </div>
    </div>
      <!--  <input type="text" id="search" name="search" class="form-control" placeholder="Search Based on Author Name/Title" style="width: 85%; margin-right: 25px; display: inline-block">
       <button type="submit" class="btn btn-primary" style="display: inline-block">Search</button>
       --> 
      </form>

      <div class="row">
      <% for(var i=0; i < products.length; i++) {
       var booktitle = products[i].Title.toString(); 
       var prod = "/add-to-cart/"+products[i]._id.$oid;
       %>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src=<%= products[i].Image_URL %> alt="..." class="img-responsive bookImage" >
                    <div class="caption">
                      <h3 class= "bookTitle" title="<%= booktitle %>"> <%= booktitle %></h3>
                      <p class="description bookTitle" title="<%= products[i].Author %>"><Strong>Author: </Strong><%= products[i].Author %></p>
                      <div class="clearfix">
                        <div class="price pull-left" title="$<%= products[i].Price %>"><Strong>Price: </Strong>$<%= products[i].Price %></div>
                        <a href= <%= prod %> title="Add to Shopping cart" class="btn btn-primary pull-right" role="button">Add to Shopping cart</a>
                      </div>
                    </div>
                </div>
              </div>  
      <% } %>
      </div>
</div>

</body>
</html>
