<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class = "container">
  <% include ../partials/nav.ejs %>

<div class="row">
<% for(var i=0; i < products.length; i++) {
 var booktitle = products[i].Title.toString(); 
 var prod = "/add-to-cart/"+products[i]._id.$oid;
 %>
      <div class="col-sm-4">
          <div class="thumbnail">
              <img src=<%= products[i].Image_URL %> alt="..." class="img-responsive bookImage" >
              <div class="caption">
                <h3 class= "bookTitle" title="<%= booktitle %>"> <%= booktitle %></h3>
                <p class="description bookTitle" title="<%= products[i].Author %>"><Strong>Author: </Strong><%= products[i].Author %></p>
                <div class="clearfix">
                  <div class="price pull-left" title="$<%= products[i].Price %>"><Strong>Price: </Strong>$<%= products[i].Price %></div>
                  <a href= <%= prod %> title="Add to Shopping cart" class="btn btn-primary pull-right" role="button">Add to Shopping cart</a>
                </div>
              </div>
          </div>
        </div>  
<% } %>
</div>
</div>

</body>
</html>
