<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
<div class="jumbotron text-center">
	<div class="container">
<h1>Order History</h1>
</div>
<table class="table">
  <div class="row">
    <% for(var i=0; i < orders.length; i++) { 
    console.log(orders[i]);
    var checkout = "/checkout";
        %>
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" >
      
      <ul class="list-group">
          <li class="list-group-item">
            <div class="row" style="margin-bottom:10px;">
	    <div class="label label-success orders-info bookTitle orderid-header" style="margin-top:15px;" title="<%= orders[i]._id %>" ><Strong>Order Id: </Strong><%= orders[i]._id %></div>
            <% for(var j=0; j < orders[i].orderData.length; j++) { 
            %>
            <div class="col-sm-6 col-md-9 col-md-offset-2 col-sm-offset-3" style="margin-bottom: 15px;">
            <img src=<%= orders[i].orderData[j].imageUrl %> alt="..." class="img-responsive bookImage" style="display: inline-block;">
            <div style="color: black; width: 60%; display: inline-block; margin-left: 15px;">
		    <h2 class= "bookTitle" style="color:black;" title="<%= orders[i].orderData[j].title %>"> <%= orders[i].orderData[j].title %></h2>
		    <div class="label label-success" style="font-size: 20px;" title="$<%= orders[i].orderData[j].price %>"><Strong>Price: </Strong>$<%= orders[i].orderData[j].price %></div>
		    <div style="display: inline-block;font-size: 20px;"><span class="badge" style="font-size: 20px;"><%= orders[i].orderData[j].quantity %></span></div>
	    </div>
            </div>
            <% } %>
            </div>            
            <div class="order-details" title="<%= orders[i].timestamp %>"><Strong>Order Date: </Strong><%= orders[i].timestamp %></div>
            <div class="order-details" title="$<%= orders[i].stats[0].totalAmount %>"><Strong>Total Amount: </Strong>$<%= orders[i].stats[0].totalAmount %></div>
            <div class="order-details" title="<%= orders[i].stats[0].totalQuantity %>" style="margin-bottom:15px;"><Strong>Total Quantity: </Strong><%= orders[i].stats[0].totalQuantity %></div>
          </li>
      </ul>
    </div>
    <% } %>
  </div>
</table>
</div>
</div>
</body>
</html>
