<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
<div class="jumbotron text-center" style="background-color:white; color:black;">
	<div class="container">
<h1>Order Placed Successfully</h1>
<table class="table">
  <div class="row col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" style="margin-top: 5%;padding: 20px;border: 1px solid #ddd;">
    <div style="margin-left: 20%;text-align: left;" title="<%= orderId %>"><Strong>Order Id: </Strong><%= orderId %></div>
    <div style="margin-left: 20%;text-align: left;" title="<%= orderDate %>"><Strong>Order Date: </Strong><%= orderDate %></div>
    <% for(var i=0; i < data.length; i++) { 

    var checkout = "/checkout";
        %>
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" style="margin-left:0%;width: 100%;">
      
      <ul class="list-group">
          <li class="list-group-item" style="border: none;">
            <img src=<%= data[i].imageUrl %> alt="..." class="img-responsive bookImage" style="display: inline-block;">
	    <div style="color: black; width: 60%; display: inline-block; margin-left: 15px;">
		    <h3 class= "bookTitle" title="<%= data[i].title %>"> <%= data[i].title %></h3>
		    <div class="label label-success" style="font-size: 16px;" title="$<%= data[i].price %>"><Strong>Price: </Strong>$<%= data[i].price %></div>
		    <span class="badge" style="font-size: 16px;"><%= data[i].quantity %></span>
	    </div>
          </li>
      </ul>
    </div>
    <% } %>
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" style="font-size: 20px;">
      <strong>Total: $<%= stats[0].totalAmount %></strong>
    </div>
  </div> 
</table>
</div>
</div>
</body>
</html>
