<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="jumbotron text-center">
	<div class="container">
<h1>Order History</h1>
<div class="label label-success" title="$<%= orderId %>"><Strong>Order Id: </Strong>$<%= orderId %></div>
<div class="label label-success" title="$<%= orderDate %>"><Strong>Order Date: </Strong>$<%= orderDate %></div>
<table class="table">
  <div class="row">
    <% for(var i=0; i < data.length; i++) { 

    var checkout = "/checkout";
        %>
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      
      <ul class="list-group">
          <li class="list-group-item">
            <img src=<%= data[i].imageUrl %> alt="..." class="img-responsive bookImage" >
            <h3> <%=data.length %></h3>
            <h3 class= "bookTitle" title="<%= data[i].title %>"> <%= data[i].title %></h3>
            <div class="label label-success" title="$<%= data[i].price %>"><Strong>Price: </Strong>$<%= data[i].price %></div>
            <span class="badge"><%= data[i].quantity %></span>

          </li>
      </ul>
    </div>
    <% } %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <strong>Total: <%= stats[0].totalAmount %> $</strong>
    </div>
  </div>  
</table>
</div>
</div>
</body>
</html>
